{% import "_todo-list.njk" as todoList %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/public/style.css"/>
    <!-- custom font -->
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-dark bg-primary">
      <p class="h4">To Do</p>
      <p>I must remember to...</p>
    </nav>

    <div class="container">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#showAddCard" role="button" aria-expanded="false" aria-controls="showAddCard">Show</a>
      </p>
      <div class="card">
        <div class="collapse multi-collapse" id="showAddCard">
          <div class="card-body">
            <form class="col-12" action="/" method="POST">

              <div class="form-row">
                <div class="form-group col-xs-12 col-md-8">
                  <label for="task">Task</label>
                  <input class="form-control" type="text" id="task" name="task" required="required">
                </div>

                <div class="form-group col-xs-12 col-md-4">
                  <label for="todoDate">Do-by</label>
                  <input class="form-control" type="date" value="" id="doByDate" name="doByDate" required="required">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </form>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="toBeDone-tab" data-toggle="tab" href="#toBeDone" role="tab" aria-controls="toBeDone" aria-selected="true">To-Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="done-tab" data-toggle="tab" href="#done" role="tab" aria-controls="done" aria-selected="false">Done</a>
        </li>
      </ul>

      <div class="tab-content" id="todoTabs">
        <div class="tab-pane fade show active" id="toBeDone" role="tabpanel" aria-labelledby="toBeDone-tab">
          {{ todoList.display(todos.open) }}
        </div>
        <div class="tab-pane fade" id="done" role="tabpanel" aria-labelledby="done-tab">
          {{ todoList.display(todos.done) }}
        </div>
      </div>
      

    </div>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/public/todo.js"></script>
  </body>

</html>